@import '/src/styles/color/colors';
@import '/src/styles/responsive/responsive';

.footer-container {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 200;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    color: $white;
    border-radius: 20px 20px 0 0;
    @media screen and (max-width: $large) {
        margin-top: 20px;
        padding: 20px 100px;
    }
    @media screen and (max-width: $medium) {
        margin-top: 20px;
        padding: 20px 48px;
    }
    @media screen and (max-width: $smedium) {
        margin-top: 40px;
        flex-direction: column;
        padding: 20px 24px;
    }
    @media screen and (max-width: $small) {
        margin-top: 40px;
        flex-direction: column;
        padding: 20px 24px;
    }
}

.icon-color {
    color: $green;
}

.social-media {
    &-title {
        font-size: 24px;
        @media screen and (max-width: $small) {
            font-size: 16px
        }
    }
    &-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: $small) {
            font-size: 16px
        }
        &-style {
            width: 30px;
            height: 30px;
            background-color: $white;
            border-radius: 100%;
            padding: 10px;
            transition: all 0.4s ease-out;
            @media screen and (max-width: $small) {
                width: 20px;
                height: 20px;
            }
            &:hover {
                background-color: $green;
                color: $white;
            }
        }
    }
}