//================ Background Color ================
$light-mode: rgb(255, 255, 255);
$dark-mode: rgb(45, 45, 45);

//================ Common Colors ================
$green: rgb(50, 205, 50);
$grey: rgb(65, 65, 65);
$white: rgb(255, 255, 255);
$black: rgb(45, 45, 45);
$red: rgb(255,51,51);